.tex-rightpanel {
    float: right;
    background-color: blue;
}

.tex-rightimage img {
    position: absolute;
    max-width: 40% !important;
    right: 20px;
    top: 20px;
    -webkit-filter: blur(2px);
}

.tex-vertical-line {
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: black;
    color: transparent;
    z-index: 1000;
    right: 50%;
}

.tex-boxlink {
    background-color: white;
    border-width: 1px !important;
    border-bottom-width: 2px !important;
    border-style: solid;
    margin: 20px;
    padding: 20px;
    float: right;
    width: 300px;
}

.mce-content-body .tex-vertical-line {
    background-color: green;
    width: 40px;
}