.tex-floatright {
    position: absolute;
    top: 80px;
    right: 80px;
}
.tex-floatleft {
    float: left;
}
.tex-rightpanel {
    float: right;
    background-color: blue;
}
.tex-lefttext {
    max-width: 30% !important;
}

.tex-rightimage img {
    position: absolute;
    max-width: 60% !important;
    height: auto !important;
    right: 80px;
    top: 20px;
}

.tex-rightblurimage img {
    position: absolute;
    max-width: 60% !important;
    height: auto !important;
    right: 80px;
    top: 20px;
    -webkit-filter: blur(2px);
}

.tex-vertical-line {
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: black;
    color: transparent;
    z-index: 500;
    right: 50%;
}

.tex-boxlink {
    background-color: white;
    border-width: 1px !important;
    border-bottom-width: 2px !important;
    border-style: solid;
    margin: 20px;
    padding: 20px;
    float: right;
    width: 300px;
    clear: both;
    position: relative;
    z-index: 1000;
}

.mce-content-body .tex-vertical-line {
    background-color: green;
    width: 40px;
}