.tex-floatright {
    position: absolute;
    top: 80px;
    right: 80px;
}
.tex-floatleft {
    float: left;
}
.tex-rightpanel {
    float: right;
    background-color: blue;
}
.tex-lefttext {
    max-width: 40% !important;
    position: absolute;
}

.tex-rightimage img {
    position: absolute;
    max-width: 60% !important;
    height: auto !important;
    right: 0px;
    top: 0px;
}

.tex-rightblurimage img {
    position: absolute;
    max-width: 60% !important;
    height: auto !important;
    right: -8px;
    top: -8px;
    -webkit-filter: blur(4px);
}

.tex-vertical-line {
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: black;
    color: transparent;
    z-index: 500;
    right: 50%;
}

.tex-boxlink {
    background-color: white;
    border-width: 1px !important;
    border-bottom-width: 2px !important;
    border-style: solid;
    margin: 20px;
    padding: 20px;
    float: right;
    width: 400px;
    clear: both;
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    z-index: 1000;
}

.tex-boxlink a {
  color:inherit;
  text-decoration: none;
}

.tex-boxlink img {
    max-width: 50px !important;
    height: auto;
    padding-right: 4px;
}

.mce-content-body .tex-vertical-line {
    background-color: green;
    width: 40px;
}